<div class="container">
    <h1 class="pt-3 mb-4" *ngIf="!edit">
        <img src="/assets/plus-square-fill.svg" alt="icono user" class="icono">
        Creando nuevo Rubro
    </h1>

    <h1 class="pt-3 mb-4" *ngIf="edit">
        <img src="/assets/gear-fill.svg" alt="icono rueda" class="icono">
        Editando Rubro
    </h1>

    <form [formGroup]="submitForm" (ngSubmit)="submitCategory()">
        <div class="mt-3 mb-3"> 
            <label for="categoryInput" class="form-label">Rubro*</label>
            <input type="text" required id="categoryInput" class="form-control" formControlName="category"
                placeholder="Ejemplo" name="category" [(ngModel)]="supplierCategory"
                oninvalid="this.setCustomValidity('El campo debe tener al menos 5 caracteres')"
                type="text"
                />
            <div *ngIf="submitForm.get('category')?.invalid && submitForm.get('category')?.touched"
                class="fw-lighter text-danger">
                El rubro debe tener entre 5 y 50 caracteres
            </div>
        </div>
    
        <button type="submit" [disabled]="submitForm.invalid" class="btn btn-primary mt-2">
            Verificar
        </button>
    </form>
</div>
