<article class="container">
  <button routerLink="/suppliers" class="btn btn-secondary mt-3">
    <i class="bi bi-arrow-left"></i>
    Volver a Proveedores
  </button>

  <h1 *ngIf="!editSupplier" class="mt-4 mb-4">Creando Proovedor</h1>
  <h1 *ngIf="editSupplier" class="mt-4 mb-4">Modificando Proovedor</h1>
  <section *ngIf="!validatedCUIT">
    <form [formGroup]="cuitForm" (ngSubmit)="verifyData(cuitForm)">
      <div class="mb-3">
        <label for="ciutInput" class="form-label">CUIT</label>
        <input type="number" required id="ciutInput" class="form-control" formControlName="cuit"
          placeholder="12-12345678-1" name="ciut" [(ngModel)]="supplier.taxData.cuit" />
        <div *ngIf="cuitForm.get('cuit')?.invalid && cuitForm.get('cuit')?.touched" class="fw-lighter text-danger">
          El CUIT debe tener 11 dígitos
        </div>
      </div>

      <div class="mt-3 mb-3">
        <label for="businessNameInput" class="form-label">Razón social</label>
        <input type="text" required id="businessNameInput" class="form-control" formControlName="businessName"
          placeholder="Ingrese Razón social" name="businessName" [(ngModel)]="supplier.businessName" />
        <div *ngIf="
            cuitForm.get('businessName')?.invalid &&
            cuitForm.get('businessName')?.touched
          " class="fw-lighter text-danger">
          Debe ingresar la razón social
        </div>
      </div>

      <button type="submit" [disabled]="cuitForm.invalid" class="btn btn-primary mt-2">
        Verificar
      </button>

      <div class="alert alert-danger alert-dismissible fade show mt-4" 
        role="alert" *ngIf="!validCuit">
        <strong>El CUIT que intenta ingresar ya se encuentra registrado!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
        (click)="resetCuitForm(cuitForm)" aria-label="Close"></button>
      </div>
      <div class="alert alert-danger alert-dismissible fade show mt-4" 
        role="alert" *ngIf="!validBusinessName">
        <strong>La razón social que intenta ingresar ya se encuentra registrada!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
        (click)="resetCuitForm(cuitForm)" aria-label="Close"></button>
      </div>
    </form>
  </section>

  <!-- Primero confirmo el CUIT, por si el proovedor ya existe
  Si existe y esta eliminado, y el cuit y la razon social coinciden lleno los datos del formulario
  con los datos del proveedor -->

  <section *ngIf="validatedCUIT">
    <form [formGroup]="submitForm" (ngSubmit)="onSubmit(submitForm)">
      <h4 class="mt-5 mb-2">Datos fiscales</h4>

      <label for="ivaConditionInput" class="form-label">Condición iva</label>
      <select id="ivaConditionInput" required class="form-select" aria-label="Default select example"
        name="ivaCondition" [(ngModel)]="supplier.taxData.ivaCondition" formControlName="ivaCondition">
        <option value="IVA Responsable Inscripto">
          IVA Responsable Inscripto
        </option>
        <option value="IVA Responsable no Inscripto">
          IVA Responsable no Inscripto
        </option>
        <option value="IVA no Responsable">IVA no Responsable</option>
        <option value="IVA Sujeto Exento">IVA Sujeto Exento</option>
        <option value="Responsable Monotributo">Responsable Monotributo</option>
        <option value="Sujeto no Categorizado">Sujeto no Categorizado</option>
        <option value="Proveedor del Exterior">Proveedor del Exterior</option>
      </select>
      <div *ngIf="
            submitForm.get('ivaCondition')?.invalid && submitForm.get('ivaCondition')?.touched" class="fw-lighter text-danger">
        Debe ingresar la condición de iva
      </div>

      <h4 class="mt-5 mb-2">Datos del Proveedor</h4>

      <label for="categoryInput" class="form-label">Rubro</label>
      <select id="categoryInput" required class="form-select" aria-label="Default select example" name="category" [(ngModel)]="supplier.category" formControlName="category">
        <option value="Libreria">Artículos de librería</option>
        <option value="Calzado">Calzado</option>
        <option value="Indumentaria">Indumentaria</option>
        <option value="Muebles">Muebles</option>
        <option value="Libros">Libros</option>
        <option value="Alimentos">Alimentos</option>
        <option value="Bebidas">Bebidas</option>
        <option value="Informatica">Informatica</option>
        <option value="Limpieza">Limpieza</option>
      </select>
      <div *ngIf="submitForm.get('category')?.invalid && submitForm.get('category')?.touched" class="fw-lighter text-danger">
        Debe ingresar un rubro
      </div>

      <div class="mt-3">
        <label for="emailInput" class="form-label">Email address</label>
        <input type="email" required class="form-control" id="emailInput" aria-describedby="emailHelp"
          placeholder="ejemplo@email.com" name="businessemail" formControlName="businessemail"
          [(ngModel)]="supplier.businessContact.email" />
      </div>
      <div *ngIf="submitForm.get('businessemail')?.invalid && submitForm.get('businessemail')?.touched" class="fw-lighter text-danger">
        Debe ingresar un email válido
      </div>

      <div class="mt-3">
        <label for="webInput" class="form-label">Web</label>
        <input type="text" id="webInput" class="form-control" placeholder="Ingrese su pagina web" name="webPage" [(ngModel)]="supplier.businessContact.webPage" formControlName="webPage"/>
      </div>
      <div *ngIf="submitForm.get('webPage')?.invalid && submitForm.get('webPage')?.touched" class="fw-lighter text-danger">
        Debe ingresar una página web valida
      </div>

      <div class="mt-3">
        <label for="businessPhoneInput" class="form-label">Teléfono</label>
        <input type="text" id="businessPhoneInput" class="form-control" placeholder="012 12345678"
          name="buisnessphone" [(ngModel)]="supplier.businessContact.phone" formControlName="buisnessphone"/>
      </div>
      <div *ngIf="submitForm.get('buisnessphone')?.invalid && submitForm.get('buisnessphone')?.touched" class="fw-lighter text-danger">
        Debe ingresar un teléfono válido
      </div>


      <h4 class="mt-5 mb-2">Dirección</h4>
      
      <div class="mt-3">
        <label for="addressInput" class="form-label">Calle</label>
        <input type="text" id="addressInput" class="form-control" required placeholder="Ingrese el nombre de la calle" name="streetName" [(ngModel)]="supplier.address.streetName" 
        formControlName="streetName"/>
      </div>
      <div *ngIf="submitForm.get('streetName')?.invalid && submitForm.get('streetName')?.touched" class="fw-lighter text-danger">
        Debe ingresar una calle
      </div>

      <div class="mt-3">
        <label for="numberInput" class="form-label">Número de calle</label>
        <input type="number" id="numberInput" required class="form-control" placeholder="123" name="streetNumber" [(ngModel)]="supplier.address.number" formControlName="streetNumber"/>
      </div>
      <div *ngIf="submitForm.get('streetNumber')?.invalid && submitForm.get('streetNumber')?.touched" class="fw-lighter text-danger">
        Debe ingresar un número de la dirección
      </div>

      <div class="mt-3">
        <label for="cpInput" class="form-label">Código postal</label>
        <input type="text" required id="cpInput" class="form-control" placeholder="E123" name="cp"
          [(ngModel)]="supplier.address.cp" formControlName="cp"/>
      </div>
      <div *ngIf="submitForm.get('cp')?.invalid && submitForm.get('cp')?.touched" class="fw-lighter text-danger">
        Debe ingresar un código postal válido
      </div>

      <div class="mt-3">
        <label for="cityInput" class="form-label">Localidad</label>
        <input type="text" required id="cityInput" class="form-control" placeholder="Ingrese la localidad" name="city" [(ngModel)]="supplier.address.city" formControlName="city"/>
      </div>
      <div *ngIf="submitForm.get('city')?.invalid && submitForm.get('city')?.touched" class="fw-lighter text-danger">
        Debe ingresar una ciudad válido
      </div>

      <div class="mt-3">
        <label for="provinceInput" class="form-label">Provincia</label>
        <input type="text" required id="provinceInput" class="form-control" placeholder="Ingrese la provincia" name="province" [(ngModel)]="supplier.address.province" formControlName="province"/>
      </div>
      <div *ngIf="submitForm.get('province')?.invalid && submitForm.get('province')?.touched" class="fw-lighter text-danger">
        Debe ingresar una provincia válido
      </div>

      <div class="mt-3">
        <label for="countryInput" class="form-label">Pais</label>
        <input type="text" required id="countryInput" class="form-control" placeholder="Ingrese el pais" name="country" [(ngModel)]="supplier.address.country" formControlName="country"/>
      </div>
      <div *ngIf="submitForm.get('country')?.invalid && submitForm.get('country')?.touched" class="fw-lighter text-danger">
        Debe ingresar un pais válido
      </div>


      <h4 class="mt-5 mb-2">Datos de contacto</h4>

      <div class="mt-3">
        <label for="nameInput" class="form-label">Nombre</label>
        <input type="text" required id="nameInput" class="form-control" placeholder="Ingrese su nombre" name="name" [(ngModel)]="supplier.contactData.name" formControlName="name"/>
      </div>
      <div *ngIf="submitForm.get('name')?.invalid && submitForm.get('name')?.touched" class="fw-lighter text-danger">
        Debe ingresar un nombre válido
      </div>

      <div class="mt-3">
        <label for="lastNameInput" class="form-label">Apellido</label>
        <input type="text" required id="lastNameInput" class="form-control" placeholder="Ingrese su apellido" name="lastName" [(ngModel)]="supplier.contactData.lastName" formControlName="lastName"/>
      </div>
      <div *ngIf="submitForm.get('name')?.invalid && submitForm.get('name')?.touched" class="fw-lighter text-danger">
        Debe ingresar un apellido válido
      </div>

      <div class="mt-3">
        <label for="contactPhoneInput" class="form-label">Telefono</label>
        <input type="text" required id="contactPhoneInput" class="form-control" placeholder="012 12345678" name="contactPhone" [(ngModel)]="supplier.contactData.phone" formControlName="contactPhone"/>
      </div>
      <div *ngIf="submitForm.get('contactPhone')?.invalid && submitForm.get('contactPhone')?.touched" class="fw-lighter text-danger">
        Debe ingresar un teléfono válido
      </div>

      <div class="mt-3">
        <label for="contactEmailInput" class="form-label">Email address</label>
        <input type="email" required class="form-control" id="contactEmailInput" aria-describedby="emailHelp"
          placeholder="ejemplo@email.com" name="contactEmail" [(ngModel)]="supplier.contactData.email" 
          formControlName="contactEmail"/>
      </div>
      <div *ngIf="submitForm.get('contactEmail')?.invalid && submitForm.get('contactEmail')?.touched" class="fw-lighter text-danger">
        Debe ingresar un email válido
      </div>

      <div class="mt-3">
        <label for="rolInput" class="form-label">Rol</label>
        <input type="text" required id="rolInput" class="form-control" placeholder="Ingrese su rol" name="rol" [(ngModel)]="supplier.contactData.rol" formControlName="rol"/>
      </div>
      <div *ngIf="submitForm.get('rol')?.invalid && submitForm.get('rol')?.touched" class="fw-lighter text-danger">
        Debe ingresar un rol válido
      </div>

      <button *ngIf="!editSupplier" [disabled]="submitForm.invalid" class="btn btn-primary mt-4 mb-4">
        Agregar Proveedor
      </button>

      <button *ngIf="editSupplier" [disabled]="submitForm.invalid" class="btn btn-primary mt-4 mb-4">
        Guardar cambios
      </button>
    </form>
  </section>
</article>