<article class="container">
    <h1 class="pt-3 mb-4" *ngIf="!edit">
        <img src="/assets/plus-square-fill.svg" alt="icono user" class="icono">
        Creando nuevo Proveedor
    </h1>

    <h1 class="pt-3 mb-4" *ngIf="edit">
        <img src="/assets/gear-fill.svg" alt="icono user" class="icono">
        Editando Proveedor
    </h1>
    <!-- ingreso codigo de proveedor y razon social -->
    <section *ngIf="!supplierCodeValid" class="mt-3 mb-3">
        <form [formGroup]="codeForm" (ngSubmit)="submitSupplierCodeAndBusinessName()">
            <label for="codeInput" class="form-label">Razón social*</label>
            <input type="text" required id="codeInput" class="form-control" formControlName="businessName"
                placeholder="Ejemplo" name="businessName" [(ngModel)]="supplier.businessName"
                oninvalid="this.setCustomValidity('El campo debe tener al menos 5 caracteres')"
                type="text"
                />
            <div *ngIf="codeForm.get('businessName')?.invalid && codeForm.get('businessName')?.touched"
                class="fw-lighter text-danger">
                La Razón social debe tener entre 2 y 50 caracteres
            </div>

            <label for="codeInput" class="form-label mt-4">Codigo de proveedor*</label>
            <input type="text" required id="codeInput" class="form-control" formControlName="supplierCode"
                placeholder="Ejemplo" name="supplierCode" [(ngModel)]="supplier.supplierCode"
                oninvalid="this.setCustomValidity('El campo debe tener al menos 5 caracteres')"
                type="text"
                />
            <div *ngIf="codeForm.get('supplierCode')?.invalid && codeForm.get('supplierCode')?.touched"
                class="fw-lighter text-danger">
                El codigo de proveedor debe tener entre 4 y 50 caracteres
            </div>

            <button type="submit" [disabled]="codeForm.invalid" class="btn btn-primary mt-4">
                Continuar
            </button>
        </form>
    </section>

    <!-- rubro -->
    <section *ngIf="supplierCodeValid && !supplierCategoryValid">
        <section class="m-0 p-2 table-header bg-primary-subtle d-flex">
            <div class="col-md-9 ps-2">
              <h2 class="text-left">Seleccione un rubro</h2>
            </div>
        </section>
        
        <section style="background-color: #fff; height: 9vh;" 
        class="m-0 p-2 container-fluid filterItems border-bottom">
            <article class="row"> 
                <div class="col-md-4 d-flex justify-content-start">
                    <div class="input-group input-group-append">
                        <input type="text" class="form-control" placeholder="Buscar rubro" 
                        name="category" [(ngModel)]="searchCategory" style="width: 20vw;">
                        <button class="btn btn-primary btn-icon" type="button" id="button-addon2"
                        (click)="searchByCategory()" *ngIf="!searchCategoryOn" 
                        [ngClass]="((searchCategory !== '')?'':'disabled')">
                        <i class="bi bi-search"></i>
                        </button>
                        <button class="btn btn-primary btn-icon" type="button" id="button-addon2"
                        (click)="clearSearchByCategory()" *ngIf="searchCategoryOn">
                        <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>     
                <nav class="col-md-8 d-flex justify-content-end filterItems pe-3" 
                aria-label="Page navigation example">
                    <ul class="pagination">
                    <li class="page-item" (click)="prevPage()">
                        <a class="page-link" 
                            aria-label="Previous" 
                            style="cursor: pointer;"
                            [ngClass]="(currentPage != 0)?'':'disabled'"
                        >
                        <span aria-hidden="true">Prev</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of getPages()">
                        <a class="page-link" 
                            [ngClass]="((currentPage+1) === page)?'active':''" 
                            style="cursor: pointer;"
                            (click)="selectPage(page-1)">{{page}}
                    </a>
                    </li>
                    <li class="page-item" 
                    (click)="nextPage()">
                        <a class="page-link" 
                        aria-label="Next"
                        style="cursor: pointer;"
                        [ngClass]="((pages !== 1) && (currentPage+1 !== pages)?'':'disabled')">
                        <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                    </ul>
                </nav>
            
            </article>
        </section>
    
        <table class="table table-hover selectTable m-0 p-4" *ngIf="suplierCategories.length !== 0">
            <thead>
                <tr class="table">
                <th scope="col" class="columnSort" (click)="changeSort('category')">Rubro
                    <i *ngIf="categorySort === 'None'" class="bi bi-arrow-down-up"></i>
                    <i *ngIf="categorySort === 'desc'" class="bi bi-arrow-down"></i>
                    <i *ngIf="categorySort === 'asc'" class="bi bi-arrow-up"></i>
                </th>
                <th scope="col" class="columnSort" (click)="changeSort('createdAt')">Fecha de alta 
                    <i *ngIf="createdAtSort === 'None'" class="bi bi-arrow-down-up"></i>
                    <i *ngIf="createdAtSort === 'desc'" class="bi bi-arrow-down"></i>
                    <i *ngIf="createdAtSort === 'asc'" class="bi bi-arrow-up"></i>
                </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="edit" class="table-warning">
                    <td >Categoria actual: {{ oldCategory }}</td>
                    <td></td>
                </tr>
                <tr *ngFor="let suplierCategory of suplierCategories" 
                    (click)="selectSupplierCategory(suplierCategory)"
                    [ngClass]="(suplierCategory.id === supplierCategorySavedId
                                || suplierCategory.id === supplier.supplierCategory.id)?'table-success':''">
                <td>{{ suplierCategory.category}}</td>
                <td>{{ suplierCategory.createdAt | date}}</td>
                
                </tr>
            </tbody>
        </table>
        <div class="alert alert-info mt-4 abs-center" role="alert" *ngIf="suplierCategories.length === 0">
            <h2 class="text-center mb-4">No se encontraron rubros</h2>
            <img src="/assets/clasificacion.png" alt="Imagen rubros" class="userImg mx-auto d-block"
            (error)="changeImage($event)">
        </div>
        
        <button [disabled]="!continueSupplierCategory" class="btn btn-primary mt-2" 
                (click)="continueForm()">
            Continuar
        </button>
    </section>

    <!-- condicion de iva y cuit -->
    <section *ngIf="supplierCategoryValid && !taxDadaValid">
        <form [formGroup]="taxDataForm" (ngSubmit)="submitTaxData()">
            <label for="ivaConditionInput" class="form-label mt-4">Condición de IVA*</label>
            <select class="form-select" aria-label="Default select example" id="ivaConditionInput"
                class="form-control" formControlName="ivaCondition" [(ngModel)]="supplier.ivaCondition.id">
                <option value="" disabled selected>Seleccione una opción</option>
                <option *ngFor="let ivaCondition of ivaConditions" [value]="ivaCondition.id">
                    {{ ivaCondition.ivaCondition }}
                </option>
            </select>

            <label for="codeInput" class="form-label mt-4">CUIT*</label>
            <input type="text" required id="codeInput" class="form-control" formControlName="cuit"
                placeholder="Ejemplo" name="cuit" [(ngModel)]="supplier.cuit"
                oninvalid="this.setCustomValidity('El campo debe tener 11 digitos')"
                type="text"
                />
            <div *ngIf="taxDataForm.get('cuit')?.invalid && taxDataForm.get('cuit')?.touched"
                class="fw-lighter text-danger">
                El CUIT debe tener 13 caracteres.
            </div>
            <div *ngIf="taxDataForm.get('cuit')?.invalid && taxDataForm.get('cuit')?.touched && taxDataForm.get('cuit')?.errors?.['pattern']"
                class="fw-lighter text-danger">
                El cuit debe tener el siguiente formato: 00-00000000-0
            </div>

            <button type="submit" [disabled]="taxDataForm.invalid" class="btn btn-primary mt-4">
                Continuar
            </button>
        </form>
    </section>

    <!-- logo -->
    <section *ngIf="taxDadaValid && !logoValid">
        <form [formGroup]="logoForm" (ngSubmit)="submitImageUrl()">
            <label for="imageUrlInput" class="form-label mt-4">Logo*</label>
            <input type="text" required id="imageUrlInput" class="form-control" formControlName="imageUrl"
                placeholder="Ejemplo" name="imageUrl" [(ngModel)]="supplier.imageUrl"
                oninvalid="this.setCustomValidity('El campo debe tener 11 digitos')"
                type="text"
                />
            <div *ngIf="logoForm.get('imageUrl')?.invalid && logoForm.get('imageUrl')?.touched"
                class="fw-lighter text-danger">
                La URL de la imagen tener mas de 5 caracteres.
            </div>
            <div *ngIf="logoForm.get('imageUrl')?.invalid && logoForm.get('imageUrl')?.touched && logoForm.get('imageUrl')?.errors?.['pattern']"
                class="fw-lighter text-danger">
                La URL de la imagen debe terminar con .jpg o .png
            </div>
            
            <div class="mt-3">
                <img *ngIf="logoForm.valid" [src]="supplier.imageUrl" 
                style="width: 25vh;"
                alt="Logo previsualizado" class="mt-2">
            </div>

            <button type="submit" [disabled]="logoForm.invalid" class="btn btn-primary mt-4">
                Continuar
            </button>
        </form>
    </section>

    <!-- pais, provincia, ciudad, cp, calle, numero -->
    <section *ngIf="logoValid && !locationValid">
        <label for="countryInput" class="form-label mt-4">Pais*</label>
            <select class="form-select" aria-label="Default select example" id="countryInput"
            [(ngModel)]="idCountry" (ngModelChange)="selectCountry()">
                <option value="" disabled selected>Seleccione una opción</option>
                <option *ngFor="let country of countries" [value]="country.id">
                    {{ country.country }}
                </option>
            </select>
            
        <form [formGroup]="locationForm" (ngSubmit)="submitLocation()">
            <div *ngIf="showProvinces">
                <label for="provinceInput" class="form-label mt-4">Provincia*</label>
                <select class="form-select" aria-label="Default select example" id="provinceInput"
                    formControlName="province" formControlName="province"
                    [(ngModel)]="supplier.province.id">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option *ngFor="let province of provinces" [value]="province.id">
                        {{ province.province }}
                    </option>
                </select>
            </div>

            <div *ngIf="!showProvinces">
                <label for="provinceInput" class="form-label mt-4">Provincia*</label>
                <select class="form-select" aria-label="Default select example" id="provinceInput"
                    [disabled]="true">
                    <option value="" disabled selected>Seleccione una opción</option>
                </select>
                <div *ngIf="locationForm.get('province')?.invalid && locationForm.get('province')?.touched"
                class="fw-lighter text-danger">
                Debe seleccionar una provincia
                </div>
            </div>

            <label for="cityInput" class="form-label mt-4">Ciudad*</label>
            <input type="text" required id="cityInput" class="form-control" formControlName="city"
                placeholder="Ejemplo" name="city" [(ngModel)]="supplier.city"
                oninvalid="this.setCustomValidity('El campo debe tener al menos 5 caracteres')"
            />
            <div *ngIf="locationForm.get('city')?.invalid && locationForm.get('city')?.touched"
                class="fw-lighter text-danger">
                La ciudad debe tener entre 2 y 50 caracteres
            </div>

            <label for="cpInput" class="form-label mt-4">Código postal*</label>
            <input type="text" required id="cpInput" class="form-control" formControlName="cp"
                placeholder="Ejemplo" name="cp" [(ngModel)]="supplier.cp"
                oninvalid="this.setCustomValidity('El campo debe tener al menos 5 caracteres')"
            />
            <div *ngIf="locationForm.get('cp')?.invalid && locationForm.get('cp')?.touched"
                class="fw-lighter text-danger">
                El código postal debe tener entre 2 y 50 caracteres
            </div>

            <label for="streetNameInput" class="form-label mt-4">Calle*</label>
            <input type="text" required id="streetNameInput" class="form-control" formControlName="streetName"
                placeholder="Ejemplo" name="streetName" [(ngModel)]="supplier.streetName"
                oninvalid="this.setCustomValidity('El campo debe tener al menos 5 caracteres')"
            />
            <div *ngIf="locationForm.get('streetName')?.invalid && locationForm.get('streetName')?.touched"
                class="fw-lighter text-danger">
                La calle debe tener entre 2 y 50 caracteres
            </div>
            
            <label for="streetNumberInput" class="form-label mt-4">Calle*</label>
            <input type="number" required id="streetNumberInput" class="form-control" formControlName="streetNumber"
                placeholder="Ejemplo" name="streetNumber" [(ngModel)]="supplier.streetNumber"
                oninvalid="this.setCustomValidity('El campo debe tener al menos 5 caracteres')"
            />
            <div *ngIf="locationForm.get('streetNumber')?.invalid && locationForm.get('streetNumber')?.touched"
                class="fw-lighter text-danger">
                El número de calle debe ser mayor a 1
            </div> 
            
            <button type="submit" [disabled]="locationForm.invalid" class="btn btn-primary mt-4">
                Continuar
            </button>
        </form>
    </section>

    <!-- email, telefono, pagina web -->
    <section *ngIf="locationValid && !businessInfoValid">
        <form [formGroup]="supplierInfoForm" (ngSubmit)="submitBusinessInfo()">
            <label for="businessEmailInput" class="form-label mt-4">Email*</label>
            <input type="text" required id="businessEmailInput" class="form-control" formControlName="businessEmail"
                placeholder="Ejemplo" name="businessEmail" [(ngModel)]="supplier.businessEmail"
                oninvalid="this.setCustomValidity('El campo debe tener al menos 5 caracteres')"
            />
            <div *ngIf="supplierInfoForm.get('businessEmail')?.invalid && supplierInfoForm.get('businessEmail')?.touched"
                class="fw-lighter text-danger">
                El email debe tener entre 2 y 50 caracteres
            </div>

            <label for="businessPhoneInput" class="form-label mt-4">Telefono*</label>
            <input type="text" required id="businessPhoneInput" class="form-control" formControlName="businessPhone"
                placeholder="Ejemplo" name="businessPhone" [(ngModel)]="supplier.businessPhone"
                oninvalid="this.setCustomValidity('El campo debe tener al menos 5 caracteres')"
            />
            <div *ngIf="supplierInfoForm.get('businessPhone')?.invalid && supplierInfoForm.get('businessPhone')?.touched"
                class="fw-lighter text-danger">
                El telefono debe tener entre 2 y 50 caracteres
            </div>

            <label for="businessWebpageInput" class="form-label mt-4">Sitio web</label>
            <input type="text" required id="businessWebpageInput" class="form-control" 
                formControlName="businessWebpage"
                placeholder="Ejemplo" name="businessWebpage" [(ngModel)]="supplier.businessWebpage"
            />

            <button type="submit" [disabled]="supplierInfoForm.invalid" class="btn btn-primary mt-4">
                Continuar
            </button>
        </form>
    </section>

    <!-- contactos -->
    <section *ngIf="businessInfoValid">
        <!-- mostrar contactos anteriores -opcion de eliminar -->
        <article *ngIf="oldContacts.length !== 0">
            <h4>Contactos anteriores: </h4>
            <!-- cards con datos anteriores -->
            <div *ngFor="let contact of oldContacts; let i = index">
                <label for="contactName" class="form-label mt-2">Nombre</label>
                <input type="text" required id="contactName" class="form-control"
                [(ngModel)]="contact.contactName" [disabled]="true"/>

                <label for="contactLastname" class="form-label mt-2">Apellido</label>
                <input type="text" required id="contactLastname" class="form-control"
                [(ngModel)]="contact.contactLastname" [disabled]="true"/>

                <label for="phone" class="form-label mt-2">Telefono</label>
                <input type="text" required id="phone" class="form-control"
                [(ngModel)]="contact.phone" [disabled]="true"/>
                
                <label for="email" class="form-label mt-2">Email</label>
                <input type="text" required id="email" class="form-control"
                [(ngModel)]="contact.email" [disabled]="true"/>

                <label for="rol" class="form-label mt-2">Rol</label>
                <input type="text" required id="rol" class="form-control"
                [(ngModel)]="contact.rol" [disabled]="true"/>

                <button type="button" (click)="deleteOldContact(i)" 
                class="btn btn-danger mt-4 me-3"> Eliminar </button>
            </div>

            <hr>
        </article>
        
        <form [formGroup]="supplierContactForm" (ngSubmit)="onSubmit()">
            <div formArrayName="contacts">
              <div *ngFor="let contact of contacts.controls; let i = index" [formGroupName]="i">
                <h4>Nuevo Contacto {{ i + 1 }}</h4>

                <label for="contactName" class="form-label mt-2">Nombre*</label>
                <input type="text" required id="contactName" class="form-control" 
                    formControlName="contactName" placeholder="Ejemplo" required
                />

                <label for="contactLastname" class="form-label mt-2">Apellido*</label>
                <input type="text" required id="contactLastname" class="form-control" 
                    formControlName="contactLastname" placeholder="Ejemplo" required
                />

                <label for="phone" class="form-label mt-2">Telefono*</label>
                <input type="text" required id="phone" class="form-control" 
                    formControlName="phone" placeholder="Ejemplo" required
                />

                <label for="email" class="form-label mt-2">Email*</label>
                <input type="text" required id="email" class="form-control" 
                    formControlName="email" placeholder="Ejemplo" required
                />

                <label for="rol" class="form-label mt-2">Rol*</label>
                <input type="text" required id="rol" class="form-control" 
                    formControlName="rol" placeholder="Ejemplo" required
                />
          
                <button type="button" (click)="removeContact(i)"
                class="btn btn-danger mt-4 me-3 mb-3 ">Eliminar</button>
              </div>
            </div>
          
            <button type="button" (click)="addContact()" class="btn btn-primary mt-4 me-3"
            [disabled]="!(contactsAmount < 3)">
                Agregar Contacto
            </button>
            <button type="submit" class="btn btn-primary mt-4" *ngIf="edit"
            [disabled]="(contactsAmount === 0) || supplierContactForm.invalid" >Guardar Cambios
            </button>

            <button type="submit" class="btn btn-primary mt-4" *ngIf="!edit"
            [disabled]="(contactsAmount === 0) || supplierContactForm.invalid" >Agregar proveedor
            </button>
          </form>
    </section>

</article>