<div class="container">
    <!-- seleccionar proveedor -->
    <section *ngIf="!supplierValid">
        <section class="m-0 p-2 table-header bg-primary-subtle d-flex">
            <div class="col-md-9 ps-2">
              <h2 class="text-left">Seleccione un proveedor</h2>
            </div>
        </section>
        <section style="background-color: #fff; height: 9vh;" 
        class="m-0 p-2 container-fluid filterItems border-bottom">
            <article class="row"> 
                <div class="col-md-3 p-2 ">
                    <div class="input-group input-group-append">
                        <input type="text" class="form-control" placeholder="Buscar Código" 
                        name="SupplierCode" [(ngModel)]="searchSupplierCode">
                        <button class="btn btn-primary btn-icon" type="button" id="button-addon2"
                        (click)="searchBySupplierCode()" *ngIf="!searchSupplierCodeOn" 
                        [ngClass]="((searchSupplierCode !== '')?'':'disabled')">
                        <i class="bi bi-search"></i>
                        </button>
                        <button class="btn btn-primary btn-icon" type="button" id="button-addon2"
                        (click)="clearSearchBySupplierCode()" *ngIf="searchSupplierCodeOn">
                        <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-3 p-2 ">
                    <div class="input-group input-group-append">
                        <input type="text" class="form-control" placeholder="Buscar Razon Social" 
                        name="businessName" [(ngModel)]="searchBusinessName">
                        <button class="btn btn-primary btn-icon" type="button" id="button-addon2"
                        (click)="searchByBusinessName()" *ngIf="!searchBusinessNameOn" 
                        [ngClass]="((searchBusinessName !== '')?'':'disabled')">
                        <i class="bi bi-search"></i>
                        </button>
                        <button class="btn btn-primary btn-icon" type="button" id="button-addon2"
                        (click)="clearSearchByBusinessName()" *ngIf="searchBusinessNameOn">
                        <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>    
                <nav class="col-md-6 d-flex justify-content-end filterItems pe-3" 
                aria-label="Page navigation example">
                    <ul class="pagination">
                    <li class="page-item" (click)="prevPage()">
                        <a class="page-link" 
                            aria-label="Previous" 
                            style="cursor: pointer;"
                            [ngClass]="(currentPage != 0)?'':'disabled'"
                        >
                        <span aria-hidden="true">Prev</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of getPages()">
                        <a class="page-link" 
                            [ngClass]="((currentPage+1) === page)?'active':''" 
                            style="cursor: pointer;"
                            (click)="selectPage(page-1)">{{page}}
                    </a>
                    </li>
                    <li class="page-item" 
                    (click)="nextPage()">
                        <a class="page-link" 
                        aria-label="Next"
                        style="cursor: pointer;"
                        [ngClass]="((pages !== 1) && (currentPage+1 !== pages)?'':'disabled')">
                        <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                    </ul>
                </nav>
            
            </article>
        </section>
        <table class="table table-hover selectTable m-0 p-4" *ngIf="suppliers.length !== 0">
            <thead>
                <tr class="table">
                    <th scope="col" class="text-center">Logo</th>
                    <th scope="col" class="text-center">Código</th>
                    <th scope="col" class="columnSort text-center" (click)="changeSort('businessName')">Razón social 
                      <i *ngIf="businessNameSort === 'None'" class="bi bi-arrow-down-up"></i>
                      <i *ngIf="businessNameSort === 'desc'" class="bi bi-arrow-down"></i>
                      <i *ngIf="businessNameSort === 'asc'" class="bi bi-arrow-up"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="edit" class="table-warning">
                    <td>Proveedor actual: {{ oldSupplier.businessName }}</td>
                    <td></td>
                </tr>
                <tr *ngFor="let supplier of suppliers" (click)="selectSupplier(supplier)"
                    [ngClass]="(supplier.id === supplierSavedId
                    || supplier.id === supplier.supplierCategory.id)?'table-success':''"
                >
                    <td class="text-center"><img [src]="supplier.imageUrl" style="width: 5vw;"
                        alt="Logo previsualizado" class="mt-2"></td>
                    <td class="text-center">{{supplier.supplierCode}}</td>
                    <td class="text-center">{{supplier.businessName}}</td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-info mt-4 abs-center" role="alert" *ngIf="suppliers.length === 0">
            <h2 class="text-center mb-4">No se encontraron proveedores</h2>
            <img src="/assets/userVectorImg.png" alt="Imagen usuario" class="userImg mx-auto d-block">
        </div>

        <button [disabled]="!continueSupplier" class="btn btn-primary mt-2" 
                (click)="supplierForm()">
            Continuar
        </button>
    </section>

    <!-- ingresar categoria - sku - nombre - descripcion - precio -->
    <section *ngIf="supplierValid && !productValid">
        <form [formGroup]="productForm" (ngSubmit)="submitProductForm()" 
        *ngIf="productCategories.length !== 0">
            <label for="productCategoryInput" class="form-label mt-4">Categoria*</label>
            <select class="form-select" aria-label="Default select example" id="productCategoryInput"
                class="form-control" formControlName="productCategory" 
                [(ngModel)]="product.productCategory.id">
                <option value="" disabled selected>Seleccione una opción</option>
                <option *ngFor="let category of productCategories" [value]="category.id">
                    {{ category.category }}
                </option>
            </select>

            <label for="codeInput" class="form-label mt-4">SKU*</label>
            <input type="text" required id="codeInput" class="form-control" formControlName="codeSKU"
                placeholder="Ejemplo" name="cuit" [(ngModel)]="product.codeSKU"
                type="text"
                />
            <div *ngIf="productForm.get('codeSKU')?.invalid && productForm.get('codeSKU')?.touched"
                class="fw-lighter text-danger">
                El SKU debe tener entre 5 y 50 caracteres.
            </div>

            <label for="productNameInput" class="form-label mt-4">Nombre del producto*</label>
            <input type="text" required id="productNameInput" class="form-control" formControlName="productName"
                placeholder="Ejemplo" name="cuit" [(ngModel)]="product.productName"
                type="text"
            />
            <div *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched"
                class="fw-lighter text-danger">
                El nombre del producto debe tener entre 5 y 50 caracteres.
            </div>

            <label for="productDescriptionInput" class="form-label mt-4">Descripción*</label>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Descripcion del producto aqui..." 
                id="productDescriptionInput" style="height: 100px"
                [(ngModel)]="product.productDescription" formControlName="productDescription"></textarea>
                <label for="floatingTextarea2"></label>
            </div>

            <label for="productNameInput" class="form-label mt-4">Precio*</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" aria-label="price" [(ngModel)]="product.price" 
                formControlName="price">
                <span class="input-group-text">.00</span>
            </div>
            <div *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched"
                class="fw-lighter text-danger">
                El precio no puede ser menor de $0
            </div>

            <button type="submit" [disabled]="productForm.invalid || product.productCategory.id == 0" 
            class="btn btn-primary mt-4">
                Continuar
            </button>
            
        </form>

        <div class="alert alert-info mt-4 abs-center" role="alert" *ngIf="productCategories.length === 0">
            <h2 class="text-center mb-4">
                El rubro del proveedor seleccionado no posee categorias de productos
            </h2>
            <img src="/assets/clasificacion.png" alt="Imagen rubros" class="userImg mx-auto d-block">
        </div>
    </section>

    <!-- imagenes -->
    <section *ngIf="productValid">
        <p>imagenes</p>
    </section>
</div>