<div class="container">
    <button type="button" class="btn btn-secondary mt-3" routerLink="./create">
      Agregar nuevo producto
    </button>
    <table class="table mt-3">
        <thead>
          <tr class="table-secondary">
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.supplier.businessName}}</td>
            <td>${{product.price}}</td>
            <td>
              <button [routerLink]="['./modify']" [queryParams]="{editProduct: product.code}">Editar</button>
              <button (click)="deleteProduct(product.id, product.name)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>