<div class="container">
    <button type="button" class="btn btn-primary mt-3" routerLink="./create">
      Agregar nuevo producto
    </button>
    <table class="table mt-3 table-radius">
        <thead>
          <tr class="table-secondary">
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.supplier.businessName}}</td>
            <td>${{product.price}}</td>
            <td>
              <button type="button" class="btn btn-primary rounded-circle btn-icon me-3 "
              [routerLink]="['./modify']" [queryParams]="{editProduct: product.code}">
                <i class="bi bi-pencil-fill"></i>
              </button>

              <button type="button" class="btn btn-danger rounded-circle btn-icon"
              (click)="deleteProduct(product.id, product.name)">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>