<article class="text-center ">
    <h1 class="h2 pt-4">Gestiona tus compras de forma fácil y rápida</h1>
    <p class="h5 pt-2 fw-lighter">Con nuestra página de gestión de compras, podrás
        guardar proveedores con sus productos y crear órdenes de compra en minutos.
    </p>

    <img class="mt-5 mb-5" id="img1" src="\assets\imgShoppingBags.png" alt="imagen referencia a compras">
</article>

<hr>

<article class="row justify-content-center  ">
    <div class="card border-left-primary shadow mb-3 mt-2 col-md-3 m-4">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Proveedores</div>
                    <div class="h5 mb-0 font-weight-bold text-success">
                        {{amountSuppliers}}
                    </div>
                </div>
                <div class="col-auto text-success">
                    <i class="bi bi-person-badge-fill fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-left-primary shadow mb-3 mt-2 col-md-3 m-4">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                        Productos</div>
                    <div class="h5 mb-0 font-weight-bold text-danger text-gray-800">
                        {{amountProducts}}
                    </div>
                </div>
                <div class="col-auto text-danger">
                    <i class="bi bi-box-seam-fill fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-left-primary shadow mb-3 mt-2 col-md-3 m-4">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Ordenes de compra</div>
                    <div class="h5 mb-0 font-weight-bold text-primary text-gray-800">
                        {{amountPurchaseOrders}}
                    </div>
                </div>
                <div class="col-auto text-primary">
                    <i class="bi bi-cart-fill fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</article>


<article class="container mt-4">
    <p class="h5 pt-2 text-center mb-3">Con nuestra página de gestión de compras, podrás:</p>
    <ul class="list-group list-group-flush m-0 pb-5" id="benefitsList">
        <li class="list-group-item">
            <i class="bi bi-check"></i>
            Guardar proveedores con sus productos y precios fácilmente.
        </li>
        <li class="list-group-item">
            <i class="bi bi-check"></i>
            Crear órdenes de compra de manera instantanea e intuitiva.
        </li>
        <li class="list-group-item">
            <i class="bi bi-check"></i>
            Controlar el estado de tus órdenes de compra.
        </li>
        <li class="list-group-item">
            <i class="bi bi-check"></i>
            Ahorrar tiempo y dinero al optimizar tu proceso de compras.
        </li>
        <li class="list-group-item">
            <i class="bi bi-check"></i>
            Gestionar los proveedores y sus productos rapidamente.
        </li>
    </ul>
</article>