<header class="text-center ">
    <h1 class="h2 pt-4">Gestiona tus compras de forma fácil y rápida</h1>
    <p class="h5 pt-2 fw-lighter">Con nuestra página de gestión de compras, podrás
        guardar proveedores con sus productos y crear órdenes de compra en minutos.
    </p>

    <img class="mt-5 mb-5" id="img1" src="\assets\imgShoppingBags.png" alt="imagen referencia a compras">
</header>

<hr>

<article class="container mt-4">
    <p class="h5 pt-2 text-center mb-3">Con nuestra página de gestión de compras, podrás:</p>
    <ul class="list-group list-group-flush m-0 pb-5" id="benefitsList">
        <li class="list-group-item">
            <i class="bi bi-check"></i>
            Guardar proveedores con sus productos y precios fácilmente.
        </li>
        <li class="list-group-item">
            <i class="bi bi-check"></i>
            Crear órdenes de compra de manera instantanea e intuitiva.
        </li>
        <li class="list-group-item">
            <i class="bi bi-check"></i>
            Controlar el estado de tus órdenes de compra.
        </li>
        <li class="list-group-item">
            <i class="bi bi-check"></i>
            Ahorrar tiempo y dinero al optimizar tu proceso de compras.
        </li>
        <li class="list-group-item">
            <i class="bi bi-check"></i>
            Gestionar los proveedores y sus productos rapidamente.
        </li>
    </ul>
</article>