/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";

/* Glosario de clases */
.bg-blue-1{
    background-color: #d2e0eb;
}

.bg-blue-2{
    background-color: #85aece;
}

.bg-blue-3{
    background-color: #4a7eab;
}

.bg-blue-4{
    background-color: #34597a;
}

.text-blue-1{
    color: #d2e0eb;
}

.text-blue-2{
    color: #85aece;
}

.text-blue-3{
    color: #4a7eab;
}

.text-blue-4{
    color: #34597a;
}

.btn-blue-1{
    background-color: #4a7eab;
    color: #fff;
}

.btn-blue-1:hover{
    background-color: #346894;
}

.a-blue-1{
    color: #54595c;
}

.a-blue-1:hover{
    color: #3e93de;
}

.columnSort{
    cursor: pointer;
}

.columnSort:hover{
    color: rgb(118, 118, 118);
}

.table-header{
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    color: #353535;
    align-items: center;
}

.filterItems{
    height: 5vh;
}

.select-filter{
    width: 50%;
}

.userImg{
    width: 20vw;
}

.icono{
    height: 5vh;
}

.btn-outline-warning{
    
    border-color: #51ca01!important;
    color: #51ca01;
}

.btn-outline-warning:hover{
    background-color: #41a101!important;
    border-color: #41a101!important;
    color: #fff;
}

.title{
    align-items: center;
}