<div class="container">
  <div style="display: flex; align-content: center;">
    <h1 class="pt-4 pb-2 text-center " style="margin-left: 10px;">
      <img src="/assets/people-fill.svg" alt="icono user" class="icono">
      Usuarios</h1>
  </div>

    <button type="button" class="btn btn-primary mt-2" routerLink="./new">
        <i class="bi bi-person-fill-add"></i>
        Nuevo usuario
    </button>
    <table class="table mt-3 mb-0 pb-4 table-radius" *ngIf="users.length !== 0">
        <thead>
          <tr class="table-secondary">
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Fecha de alta</th>
            <th scope="col">Estado</th>
            <th scope="col" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.userName}}</td>
            <td>{{ user.createdAt | date}}</td>
            <td>
              <span
                class="badge rounded-pill"
                [ngClass]="(user.deletedAt !== null) ? 'bg-danger' : 'bg-success'"
              >
                {{getEstado(user)}}
              </span>
            </td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-primary rounded-circle btn-icon me-3"
                routerLink="./detail"
                [queryParams]="{ editUser: user.id}"
              >
                <i class="bi bi-search"></i>
              </button>

              <button
                type="button"
                class="btn btn-success rounded-circle btn-icon me-3"
                routerLink="./edit"
                [queryParams]="{ editUser: user.id}"
              >
                <i class="bi bi-pencil-fill"></i>
              </button>
    
              <button
              *ngIf="user.deletedAt === null"
                type="button"
                class="btn btn-danger rounded-circle btn-icon"
                (click)="deleteUser(user)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <i class="bi bi-person-dash-fill"></i>
              </button>

              <button
              *ngIf="user.deletedAt !== null"
                type="button"
                class="btn btn-warning rounded-circle btn-icon"
                (click)="reInsertUser(user)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <i class="bi bi-person-plus-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
    </table>

    <div class="alert alert-info mt-4 abs-center" role="alert" *ngIf="users.length === 0">
        <h2 class="text-center mb-4">No hay usuarios cargados en el sistema</h2>
        <img src="/assets/userVectorImg.png" alt="Imagen usuario" class="userImg mx-auto d-block">
    </div>
</div>
