.userImg{
    width: 20vw;
}

.icono{
    height: 5vh;
}

.btn-outline-warning{
    
    border-color: #e78b00!important;
    color: #e78b00;
}

.btn-outline-warning:hover{
    background-color: #ca6201!important;
    border-color: #ca6201!important;
    color: #fff;
}

.title{
    align-items: center;
}

.table-header{
    background-color: #9ab7d1;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    color: #fff;
    align-items: center;
}

.filterItems{
    height: 5vh;
}