<section class="container">
    <button routerLink="/purchase-orders" class="btn btn-secondary mt-3">
        <i class="bi bi-arrow-left"></i>
        Volver a Ordenes de Compra
    </button>

    <h1 class="mt-4">Mostrando Orden de compra</h1>
    <hr>

    <p class="p m-0"><strong>N° Orden: </strong>{{purchaseOrder?.id}}</p>
    <p class="p m-0"><strong>Fecha de emisión: </strong>{{purchaseOrder?.emissionDate | date:"dd/MM/yy"}}</p>
    <p class="p m-0"><strong>Estado: </strong>{{getStatus()}}</p>
    
    <h4 class="mt-4"><strong>Enviar a</strong></h4>
    <p class="p m-0"><strong>Fecha de entrega: </strong>
        {{purchaseOrder?.deliveryDate | date:"dd/MM/yy"}}
    </p>
    <p class="p m-0"><strong>Información de recepción (dirección): </strong>
        {{purchaseOrder?.receptionInfo}}
    </p>

    <h4 class="mt-4"><strong>Proveedor</strong></h4>
    <p class="p m-0"><strong>Razon social: </strong>{{purchaseOrder?.supplier?.businessName}}</p>
    <!-- <button>Ver Proveedor</button> -->

    <h4 class="mt-4"><strong>Productos</strong></h4>
    <table class="table mt-3 table-radius">
        <thead>
            <tr class="table-secondary">
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
        
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of purchaseOrder?.products; index as i">
                <td>{{product.code}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price | currency}}</td>
                <td>{{product.amount}}</td>
                <td>{{calculateProductPrice(product.amount, product.price) | currency}}</td>
                
            </tr>
            <tr>
                <td colspan="4"><strong>Final</strong></td>
                <td><strong>{{purchaseOrder?.total | currency}}</strong></td>
                
            </tr>
        </tbody>
    </table>
</section>
