.table-radius {
    border-radius: 1vh;
    overflow: hidden; /* Para evitar que el contenido de la tabla se salga de los bordes */
}

.title-detail{
    background-color: rgb(194, 234, 239);
    color: rgb(50, 50, 50);
    padding: 0.5vw;
    border-radius: 0.2em;
}

.vertical-line{
    border-right: 1px solid rgb(195, 195, 195);
}