<div class="container">

    <h1 class="pt-3 mb-4" *ngIf="!edit">
        <img src="/assets/person-fill-add.svg" alt="icono user" class="icono">
        Creando nuevo Usuario
    </h1>

    <h1 class="pt-3 mb-4" *ngIf="edit">
        <img src="/assets/person-fill-gear.svg" alt="icono user" class="icono">
        Editando Usuario
    </h1>

    <form [formGroup]="submitForm" (ngSubmit)="submitUser()">
        <div class="mt-3 mb-3">
            <label for="userInput" class="form-label">Nombre de usuario*</label>
            <input type="text" required id="userInput" class="form-control" formControlName="user_name"
              placeholder="nombre_apellido_numeroDeEmpleado" name="user_name" [(ngModel)]="user.userName" 
              oninvalid="this.setCustomValidity('El campo debe tener al menos 5 caracteres')"/>
            <div *ngIf="submitForm.get('user_name')?.invalid && submitForm.get('user_name')?.touched" 
            class="fw-lighter text-danger">
                El nombre de usuario debe tener entre 5 y 50 caracteres
            </div>
            <div *ngIf="submitForm.get('user_name')?.invalid && submitForm.get('user_name')?.touched && submitForm.get('user_name')?.errors?.['pattern']" class="fw-lighter text-danger">
                El nombre de usuario debe tener el siguiente formato: nombre_apellido_numeroDeEmpleado
            </div>
        </div>

        <div class="input-group mt-3 mb-3">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
            <input class="form-control" id="password" name="password" placeholder="**********" 
            [(ngModel)]="user.password" formControlName="password" required>
            <span class="input-group-text">
            <i class="bi bi-eye-fill" id="togglePassword" 
             style="cursor: pointer"></i>
            </span>
            <div *ngIf="submitForm.get('password')?.invalid && submitForm.get('password')?.touched" 
            class="fw-lighter text-danger">
                La contraseña debe tener entre 9 y 20 caracteres
            </div>
        </div>
    
        <button type="submit" [disabled]="submitForm.invalid" class="btn btn-primary mt-2">
            Verificar
        </button>
    </form>
</div>