<div class="container">
    <button type="button" class="btn btn-primary mt-3" routerLink="./create">
      Agregar nueva orden de compra
    </button>
    <table class="table mt-3 table-radius">
        <thead>
          <tr class="table-secondary">
            <th scope="col">Número orden compra</th>
            <th scope="col">Fecha emisión</th>
            <th scope="col">Fecha entrega esperada</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Total</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchaseOrder of purchaseOrders">
            <td>{{purchaseOrder.id}}</td>
            <td>{{purchaseOrder.emissionDate | date}}</td>
            <td>{{purchaseOrder.deliveryDate | date}}</td>
            <td>{{purchaseOrder.supplier.businessName}}</td>
            <td>${{purchaseOrder.total}}</td>
            <td>{{getStatus(purchaseOrder.cancelled)}}</td>
            <td>
              <button type="button" class="btn btn-primary rounded-circle btn-icon me-3 "
              [routerLink]="['./detail']" [queryParams]="{detailPurchaseOrder: purchaseOrder.id}">
                <i class="bi bi-pencil-fill"></i>
              </button>

              <button type="button" class="btn btn-danger rounded-circle btn-icon"
              (click)="cancelOrder(purchaseOrder.id)">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>