<div class="container">
  <h1 class="pt-4 text-center">Proveedores</h1>

  <button type="button" class="btn btn-primary mt-2" routerLink="./new">
    Agregar nuevo proveedor
  </button>

  <table class="table mt-3 mb-0 pb-4 table-radius">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Código</th>
        <th scope="col">Razón social</th>
        <th scope="col">Rubro</th>
        <th scope="col">Web/email/telefono</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers; index as i">
        <td>{{ supplier.code }}</td>
        <td>{{ supplier.businessName }}</td>
        <td>{{ supplier.category }}</td>
        <td>
          <p><strong>Web:</strong> {{ supplier.businessContact.webPage }}</p>
          <p><strong>Email:</strong> {{ supplier.businessContact.email }}</p>
          <p><strong>Telefono:</strong> {{ supplier.businessContact.phone }}</p>
        </td>
        <td>
          <p>{{ supplier.contactData.name }}</p>
        </td>
        <td>
          <p>{{ supplier.contactData.lastName }}</p>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-primary rounded-circle btn-icon me-3"
            [routerLink]="['./edit']"
            [queryParams]="{ editSupplier: supplier.code }"
          >
            <i class="bi bi-pencil-fill"></i>
          </button>

          <button
            type="button"
            class="btn btn-danger rounded-circle btn-icon"
            (click)="setToDeleteSupplier(supplier)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">
          Eliminando proveedor
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Esta seguro que desea eliminar al proveedor
        {{ toDeleteSupplier.businessName }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Volver
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteSupplier()"
          data-bs-dismiss="modal"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
