<div class="container">
    <button type="button" class="btn btn-secondary mt-3" routerLink="./create">Agregar nuevo proveedor</button>
    <table class="table mt-3">
        <thead>
          <tr class="table-secondary">
            <th scope="col">Código</th>
            <th scope="col">Razón social</th>
            <th scope="col">Rubro</th>
            <th scope="col">Web/email/telefono</th>
            <th scope="col">Dirección</th>
            <th scope="col">Datos fiscales</th>
            <th scope="col">Datos de contacto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers; index as i">
            <td>{{supplier.code}}</td>
            <td>{{supplier.businessName}}</td>
            <td>{{supplier.category}}</td>
            <td><button>Ver Datos</button></td>
            <td><button>Ver Dirección</button></td>
            <td><button>Ver Datos fiscales</button></td>
            <td><button>Ver Datos de contacto</button></td>
            <td>
              <button [routerLink]="['./modify']" [queryParams]="{edit: supplier.code}">Editar</button>
              <button (click)="deleteSupplier(supplier.code, supplier.businessName)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>