<article id="suppliers-table">
    <p-table [value]="suppliers" [tableStyle]="{'min-width': '10vw', 'max-width': '100vw'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Razón social</th>
                <th>Rubro</th>
                <th>Información de contacto</th>
                <th>Dirección</th>
                <th>Datos fiscales</th>
                <th>Datos de contacto</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-supplier>
            <tr>
                <td>{{supplier.code}}</td>
                <td>{{supplier.businessName}}</td>
                <td>{{supplier.category}}</td>
                <td><p-button label="Ver Información" severity="info"></p-button></td>
                <td><p-button label="Ver Dirección" severity="info"></p-button></td>
                <td><p-button label="Ver Datos" severity="info"></p-button></td>
                <td><p-button label="Ver Contacto" severity="info"></p-button></td>
                <td class="tdModify">
                    <p-button icon="pi pi-pencil" [rounded]="true" severity="success"></p-button>
                    <p-button icon="pi pi-trash" [rounded]="true" severity="danger"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</article>