<div class="container">
    <button type="button" class="btn btn-primary mt-3" routerLink="./create">
      Agregar nuevo proveedor
    </button>
    <table class="table mt-3 table-radius">
        <thead>
          <tr class="table-secondary">
            <th scope="col">Código</th>
            <th scope="col">Razón social</th>
            <th scope="col">Rubro</th>
            <th scope="col">Web/email/telefono</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers; index as i">
            <td>{{supplier.code}}</td>
            <td>{{supplier.businessName}}</td>
            <td>{{supplier.category}}</td>
            <td>
              <p><strong>Web:</strong> {{supplier.businessContact.webPage}}</p>
              <p><strong>Email:</strong> {{supplier.businessContact.email}}</p>
              <p><strong>Telefono:</strong> {{supplier.businessContact.phone}}</p>
            </td>
            <td>
              <p>{{supplier.contactData.name}}</p>
            </td>
            <td>
              <p>{{supplier.contactData.lastName}}</p>
            </td>
            <td>
              <button type="button" class="btn btn-primary rounded-circle btn-icon me-3 "
              [routerLink]="['./modify']" [queryParams]="{editSupplier: supplier.code}">
                <i class="bi bi-pencil-fill"></i>
              </button>

              <button type="button" class="btn btn-danger rounded-circle btn-icon"
              (click)="deleteSupplier(supplier.code, supplier.businessName)">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>