<nav class="navbar align-items-center border-bottom">
    <div class="container-fluid">
        <div class="d-flex align-items-center ">
            <a routerLink="/home" class="navbar-brand m-0 textColor fw-bold brand"
            [ngClass]="(selectedPath('/home')?'Blue':'')">ASJ COMPRAS</a>
        </div>
        <div class="d-flex align-items-center">
            <div class="d-none d-lg-block">
                <ul class="d-flex m-0 list-unstyled ">
                    <li class="nav-item me-4 pt-2" *ngIf="show()" [ngClass]="(!selectedPath('/admin')?'iconChange':'')">
                        <a routerLink="/admin" class="nav-link text-center p-0">
                            <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                <i *ngIf="!selectedPath('/admin')" class="bi bi-people iconHeight mx-2"></i>
                                <i class="bi bi-people-fill iconHeight mx-2" [ngClass]="(selectedPath('/admin')?'Blue':'')"></i>
                            </div>
                            <div class="smallFont textColor" [ngClass]="(selectedPath('/admin')?'Blue':'')">Usuarios</div>
                        </a>
                    </li>
                    <li class="nav-item me-4 pt-2" [ngClass]="(!selectedPath('/suppliers')?'iconChange':'')">
                        <a routerLink="/suppliers" class="nav-link text-center p-0">
                            <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                <i *ngIf="!selectedPath('/suppliers')" class="bi bi-person-badge iconHeight mx-2"></i>
                                <i class="bi bi-person-badge-fill iconHeight mx-2" [ngClass]="(selectedPath('/suppliers')?'Blue':'')"></i>
                            </div>
                            <div class="smallFont textColor" [ngClass]="(selectedPath('/suppliers')?'Blue':'')">Proveedores</div>
                        </a>
                    </li>
                    <li class="nav-item me-4 pt-2" [ngClass]="(!selectedPath('/products')?'iconChange':'')">
                        <a routerLink="/products" class="nav-link text-center p-0">
                            <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                <i *ngIf="!selectedPath('/products')" class="bi bi-box-seam iconHeight mx-2"></i>
                                <i class="bi bi-box-seam-fill iconHeight mx-2" [ngClass]="(selectedPath('/products')?'Blue':'')"></i>
                            </div>
                            <div class="smallFont textColor" [ngClass]="(selectedPath('/products')?'Blue':'')">Productos/Servicios</div>
                        </a>
                    </li>
                    <li class="nav-item me-4 pt-2" [ngClass]="(!selectedPath('/purchase-orders')?'iconChange':'')">
                        <a routerLink="/purchase-orders" class="nav-link text-center p-0">
                            <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                <i *ngIf="!selectedPath('/purchase-orders')" class="bi bi-cart-dash iconHeight mx-2"></i>
                                <i class="bi bi-cart-dash-fill iconHeight mx-2" [ngClass]="(selectedPath('/purchase-orders')?'Blue':'')"></i>
                            </div>
                            <div class="smallFont textColor" [ngClass]="(selectedPath('/purchase-orders')?'Blue':'')">Ordenes de compra</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="iconContainer" class="d-flex justify-content-center align-items-center rounded-5 bg-light d-xl-none">
                <img src="/static_files/svgs2/search.svg" alt="search"/>
            </div>
            <button id="loginBtn" (click)="logout()" class="btn btn-sm m-sm-2 m-1 bg-primary text-white rounded-5 px-sm-3 px-2">
                <i class="bi bi-box-arrow-left me-1 "></i>
                Cerrar sesión
            </button>
        </div>
    </div>
</nav>

<nav class="navbar bg-dark fixed-top navbar-expand-lg bg-primary-subtle" 
data-bs-theme="dark" *ngIf="selectedPath('/index')">

</nav>