<nav class="navbar bg-dark fixed-top navbar-expand-lg bg-primary-subtle" 
data-bs-theme="dark" *ngIf="!selectedPath('/')">
    <div class="container-fluid">
        <img src="https://cdn.pixabay.com/photo/2017/03/29/04/09/shopping-icon-2184065_1280.png" 
        alt="Logo" width="30" height="30" class="d-inline-block align-text-top">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"              
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"     
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" routerLink="/index" [ngClass]="(selectedPath('/index')?'active':'')">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/suppliers" [ngClass]="(selectedPath('/suppliers')?'active':'')">
                    Proveedores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/products" [ngClass]="(selectedPath('/products')?'active':'')">
                    Productos/Servicios
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/purchase-orders" [ngClass]="(selectedPath('/purchase-orders')?'active':'')">
                    Ordenes de compra
                </a>
            </li>
        </ul>
      </div>
    </div>
</nav>
<nav class="navbar bg-dark fixed-top navbar-expand-lg bg-primary-subtle" 
data-bs-theme="dark" *ngIf="selectedPath('/')">

</nav>