<div class="container">
    <h1 class="pt-3 mb-4" *ngIf="!edit">
        <img src="/assets/plus-square-fill.svg" alt="icono user" class="icono">
        Creando nueva Orden de Compra
    </h1>

    <h1 class="pt-3 mb-4" *ngIf="edit">
        <img src="/assets/gear-fill.svg" alt="icono user" class="icono">
        Editando Orden de Compra
    </h1>

    <!-- elegir proveedor -->
    <section *ngIf="!supplierValid && !edit">
        <section class="m-0 p-2 table-header bg-primary-subtle d-flex">
            <div class="col-md-9 ps-2">
              <h2 class="text-left">Seleccione un proveedor</h2>
            </div>
        </section>
        <section style="background-color: #fff; height: 9vh;" 
        class="m-0 p-2 container-fluid filterItems border-bottom">
            <article class="row"> 
                <div class="col-md-3 p-2 ">
                    <div class="input-group input-group-append">
                        <input type="text" class="form-control" placeholder="Buscar Código" 
                        name="SupplierCode" [(ngModel)]="searchSupplierCode">
                        <button class="btn btn-primary btn-icon" type="button" id="button-addon2"
                        (click)="searchBySupplierCode()" *ngIf="!searchSupplierCodeOn" 
                        [ngClass]="((searchSupplierCode !== '')?'':'disabled')">
                        <i class="bi bi-search"></i>
                        </button>
                        <button class="btn btn-primary btn-icon" type="button" id="button-addon2"
                        (click)="clearSearchBySupplierCode()" *ngIf="searchSupplierCodeOn">
                        <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-3 p-2 ">
                    <div class="input-group input-group-append">
                        <input type="text" class="form-control" placeholder="Buscar Razon Social" 
                        name="businessName" [(ngModel)]="searchBusinessName">
                        <button class="btn btn-primary btn-icon" type="button" id="button-addon2"
                        (click)="searchByBusinessName()" *ngIf="!searchBusinessNameOn" 
                        [ngClass]="((searchBusinessName !== '')?'':'disabled')">
                        <i class="bi bi-search"></i>
                        </button>
                        <button class="btn btn-primary btn-icon" type="button" id="button-addon2"
                        (click)="clearSearchByBusinessName()" *ngIf="searchBusinessNameOn">
                        <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>    
                <nav class="col-md-6 d-flex justify-content-end filterItems pe-3" 
                aria-label="Page navigation example">
                    <ul class="pagination">
                    <li class="page-item" (click)="prevPage()">
                        <a class="page-link" 
                            aria-label="Previous" 
                            style="cursor: pointer;"
                            [ngClass]="(currentPage != 0)?'':'disabled'"
                        >
                        <span aria-hidden="true">Prev</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of getPages()">
                        <a class="page-link" 
                            [ngClass]="((currentPage+1) === page)?'active':''" 
                            style="cursor: pointer;"
                            (click)="selectPage(page-1)">{{page}}
                    </a>
                    </li>
                    <li class="page-item" 
                    (click)="nextPage()">
                        <a class="page-link" 
                        aria-label="Next"
                        style="cursor: pointer;"
                        [ngClass]="((pages !== 1) && (currentPage+1 !== pages)?'':'disabled')">
                        <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                    </ul>
                </nav>
            
            </article>
        </section>
        <table class="table table-hover selectTable m-0 p-4" *ngIf="suppliers.length !== 0">
            <thead>
                <tr class="table">
                    <th scope="col" class="text-center">Logo</th>
                    <th scope="col" class="text-center">Código</th>
                    <th scope="col" class="columnSort text-center" (click)="changeSort('businessName')">Razón social 
                      <i *ngIf="businessNameSort === 'None'" class="bi bi-arrow-down-up"></i>
                      <i *ngIf="businessNameSort === 'desc'" class="bi bi-arrow-down"></i>
                      <i *ngIf="businessNameSort === 'asc'" class="bi bi-arrow-up"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="edit" class="table-warning">
                    <td>Proveedor actual: {{ oldPurchaseOrder.supplier.businessName }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr *ngFor="let supplier of suppliers" (click)="selectSupplier(supplier)"
                    [ngClass]="(supplier.id === oldPurchaseOrder.supplier.id
                    || supplier.id === supplierSavedId)?'table-success':''"
                >
                    <td class="text-center"><img [src]="supplier.imageUrl" style="width: 5vw;"
                        alt="Logo previsualizado" class="mt-2"></td>
                    <td class="text-center">{{supplier.supplierCode}}</td>
                    <td class="text-center">{{supplier.businessName}}</td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-info mt-4 abs-center" role="alert" *ngIf="suppliers.length === 0">
            <h2 class="text-center mb-4">No se encontraron proveedores</h2>
            <img src="/assets/userVectorImg.png" alt="Imagen usuario" class="userImg mx-auto d-block">
        </div>

        <button [disabled]="!continueSupplier" class="btn btn-primary mt-2" 
                (click)="supplierForm()">
            Continuar
        </button>
    </section>

    <!-- elegir productos y cantidad -->
    <section *ngIf="supplierValid && !productsValid && !edit">
        <div class="alert alert-info mt-4 abs-center" role="alert" *ngIf="products.length === 0">
            <h2 class="text-center mb-4">El proveedor seleccionado no posee productos</h2>
            <img src="/assets/userVectorImg.png" alt="Imagen usuario" class="userImg mx-auto d-block">
            <button class="btn btn-primary mt-2"  routerLink="/products/new">Ir a agregar productos</button>
        </div>
        
        <article class="row" *ngIf="products.length !== 0">
            <div class="col-md-5"> 
                <label for="productInput" class="form-label mt-4">Producto*</label>
                <select class="form-select" aria-label="Default select example" id="productInput"
                    class="form-control" [(ngModel)]="indexProductSelected">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option *ngFor="let product of products; index as i" [value]="i">
                        {{ product.productName }}
                    </option>
                </select>
                <label for="amountInput" class="form-label mt-4">Cantidad*</label>
                <input type="number" required id="amountInput" class="form-control" 
                    placeholder="Ejemplo" name="amount" [(ngModel)]="productAmount"
                    min="0"
                    oninvalid="this.setCustomValidity('La cantidad debe ser mayor a 0')"
                />
                
                <button [disabled]="productAmount <= 0 || indexProductSelected == -1" 
                class="btn btn-success mt-3" 
                (click)="addProduct()">
                    Agregar
                </button>
            </div>
            <div class="col-md-7"> 
                <div class="alert alert-info mt-4 abs-center" role="alert" 
                *ngIf="productPurchase.length === 0">
                    <h2 class="text-center mb-4">Cargue productos para continuar</h2>
                    <img src="/assets/producto.png" alt="Imagen usuario" class="userImg mx-auto d-block">
                </div>
                
                <div *ngIf="productPurchase.length !== 0">
                    <table class="table table-hover selectTable m-0 p-4">
                        <thead>
                            <tr class="table">
                                <th scope="col" class="text-center">SKU</th>
                                <th scope="col" class="text-center">Producto</th>
                                <th scope="col" class="text-center">Precio</th>
                                <th scope="col" class="text-center">Cantidad</th>
                                <th scope="col" class="text-center">Total</th>
                                <th scope="col" class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of productPurchase; index as i">
                                <td class="text-center">{{product.code}}</td>
                                <td class="text-center">{{product.name}}</td>
                                <td class="text-center">{{product.price | currency}}</td>
                                <td class="text-center">{{product.amount}}</td>
                                <td class="text-center">{{getTotal(product) | currency}}</td>
                                <td>
                                    <button class="btn btn-danger mt-3" (click)="deleteProduct(i)">
                                        <i class="bi bi-trash3-fill"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="table-success">
                                <td>Final</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{getFinal() | currency}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary mt-3" (click)="continueProducts()">
                        Continuar
                    </button>
                </div>
            </div>
        </article>
    </section>

    <!-- ingresar informacion de entrega - esta es la unica parte que se puede editar -->
    <section *ngIf="productsValid || edit">

        <form [formGroup]="detailForm" (ngSubmit)="submitForm()">
            <div class="form-group">
              <label for="fecha">Fecha de entrega esperada:</label>
              <input type="datetime-local"
                id="date"
                formControlName="deliveryDate"
                class="form-control"
                [min]="getCurrentDateTime()"
                name="deliveryDate">
              <div *ngIf="detailForm.get('deliveryDate')?.invalid && detailForm.get('deliveryDate')?.touched" class="text-danger">
                La fecha debe ser posterior a la actual.
              </div>
            </div>
          
            <div class="form-group">
              <label for="comentario">Información de recepción</label>
              <textarea id="comentario" formControlName="receptionInfo" class="form-control"></textarea>
            </div>
          
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>

    </section>
    
</div>
